.form-group {
  margin-bottom: 1.25rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group label {
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: #7b7b7b;
  text-align: center;
}

.form-group input {
  width: 80%;
  max-width: 400px; 
  padding: 0.6rem 0.8rem;
  border: 1px solid #9d9c9c;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 0.95rem;
  color: #39444f;
  background-color: #999999;
  display: block;
  margin: 0 auto;
}

.form-group input::placeholder {
  color: #bab2b2;
  opacity: 1;
}